@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body{
    background-image: url(./asset/bgbg.png);
    background-size: cover;
    overflow: hidden;
}

.about{
    font-family: 'Pretendard';
    font-weight: 900;
    margin-top: 50px;
    text-align: center;
}

a{
    color: #FFFFFF;
}

.title{
    font-family: inherit;
    margin-top: -50px;
    color: #FFFFFF;
    font-size: 85px;
    font-weight: 900;
}