@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body{
    background-color: rgba(238, 122, 57, 1);
    overflow: hidden;
}

.about{
    font-weight: 900;
    margin-top: 50px;
    text-align: center;
}

a{
    color: #FFFFFF;
}

.title{
    margin-top: -50px;
    color: #FFFFFF;
    font-size: 85px;
    font-weight: 900;
}